.characterCardWrap{
    background: lightseagreen;
    padding: 10px;
    margin: 10px;
    border: darkgreen 5px solid;
    color: mediumspringgreen;
    font-size: 15px;
    text-align: center;
}



