.headerWrap{
    background: darkslategray;
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerWrap a{
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
    color: powderblue;

}

.headerWrap img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px powderblue solid;
}

