.characterDetailsWrap{
    background: lightseagreen;
    border: darkgreen 5px solid;
    flex-wrap: wrap;
    display: flex;
    width: 500px;
    margin: 10px;
    text-align: center;
}

.characterDetailsText{
    padding-left: 10px;
    padding-top: 40px;
    color: lime;
}

