.wrap{
    display: flex;
    background: lightskyblue;
    border: midnightblue 1px solid;

}

.wrapPosts{
    background: aqua ;
    padding-left: 5px;
    border-left: midnightblue 1px solid;
    border-bottom: midnightblue 1px solid;
    border-right: midnightblue 1px solid;
}

.wrapComments{
    background: skyblue ;
    padding-left: 5px;
    border-left: midnightblue 1px solid;
    border-bottom: midnightblue 1px solid;
    border-right: midnightblue 1px solid;
}

